:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --blanco: #FFF;
    --negro: #000000;
    --rosa: #FFC1CC;
    --rosaClaro: #FFF0F3;
    --rojoFresa: #E63946;
    --crema: #FFFDD0;
    --gris: #e1e1e1;
    --negroCard: #333;
}

html { 
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    background-color: var(--rosaClaro);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}

p{/*parrafos iguales*/
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}

/*enlaces sin interlineado*/
a{
    text-decoration: none;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}

.sombra{ /*body dentro de cuadro con degradado*/
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.53);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.53);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.53);
    background-color: var(--blanco);
    padding: 2rem ;
    border-radius: 1rem;/*esquinas redondeadas*/
}

h1,h2{
   font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    color:var(--negro) ;
}

/* --- HEADER --- */
.header{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8)), url(img/fondo.png);
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}

.barra{
    padding: 4rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__nombre{
    font-weight: 400;
    color: var(--blanco);
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.logo__bold{
    font-weight: 700;
}

/*contacto sobre nosotros*/
.logo2{

    width: 100%;

    height: 35rem;

    border-radius: 2rem;

    grid-row: 1 / 2;

}

/* --- NAVEGACIÓN (Móvil y Escritorio) --- */

.mobile-menu {
    display: block; /* Se ve en móvil */
    cursor: pointer;
}

.mobile-menu img {
    width: 4rem; /* Tamaño del icono de barras */
    height: auto;
}

/* Vista Celular */
@media (max-width: 767px) {
    .navegacion {
        display: none; /* Escondido por defecto para que no flote sobre la imagen */
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.95);
        width: 75%;
        height: 100vh;
        padding: 10rem 3rem;
        flex-direction: column;
        gap: 3rem;
        transition: right .4s ease-in-out;
        z-index: 2000;
    }

    .navegacion.mostrar-menu {
        display: flex; /* Se activa con el JS */
        right: 0;
    }

    .navegacion__enlace {
        font-size: 2.8rem;
        text-align: left;
        color: var(--blanco);
        border-bottom: 1px solid var(--gris);
        padding-bottom: 1.5rem;
    }
}

/* Vista Laptop / Tablet */
@media (min-width: 768px) {
    .mobile-menu {
        display: none; /* DESAPARECE el icono de barras en computadora */
    }

    .navegacion {
        display: flex; /* Los links vuelven a aparecer horizontales */
        position: static;
        width: auto;
        height: auto;
        background: none;
        padding: 0;
        gap: 2rem;
    }

    .navegacion__enlace {
        color: var(--blanco);
        font-size: 1.8rem;
    }
}

/* --- Estilos del Overlay --- */
.overlay {
    display: none; /* Escondido por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Negro con 70% de transparencia */
    z-index: 1500; /* Debe estar POR DEBAJO del menú (2000) pero POR ENCIMA de la página */
    cursor: pointer;
}

/* Clase para mostrar el overlay con JS */
.mostrar-overlay {
    display: block;
}

/* Estilo para la X (por si no lo habías puesto) */
.cerrar-menu {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}

#btn-cerrar {
    color: var(--blanco);
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
}

@media (min-width: 768px) {
    .overlay, .cerrar-menu {
        display: none !important; /* Desaparece totalmente en computadora */
    }
}
.navegacion__enlace:hover{
    color: var(--rojoFresa);
}

/* --- GRID PRODUCTOS --- */
.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto{
    padding: 1rem;
}

.producto__nombre{
    font-size: 3rem;
    font-family: var(--fuenteHeading);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* Estilo para que todas las imágenes midan lo mismo */
.producto__imagen {
    width: 100%;
    height: 30rem;
    object-fit: cover; /* Corta el exceso sin deformar */
    object-position: center; 
    border-radius: 1.5rem;
    transition: transform .3s ease;
}

.producto__sombra{
    background-color: var(--blanco);
    padding: 1.5rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 4rem;
}

.producto__imagen:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.entrada {
    border-bottom: 1px solid var(--negro);
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

main.contenedor > .entrada:last-of-type {
    border-bottom: none;
}

/* --- PÁGINA PRODUCTO INDIVIDUAL --- */
.comida__imagen{
    width: 100%;
    height: auto;
    border-radius: 2rem;
    grid-row: 1 / 2;
}

.comida__contenido p{
    text-align: left;
}

/* Estilo para nombres de platillos en el menú */
.producto-titulo {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--negro);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.precio{
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--rojoFresa);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.2;
}

@media (min-width: 768px) {
    .comida{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        align-items: center;
        margin-top: 5rem;
    }
    
    .comida__imagen{
        height: 35rem;
        object-fit: cover;
        border-radius: 2rem;
    }
}

/* --- BOTÓN FLOTANTE SUBIR --- */
.btn-subir {
    display: none; /* Oculto por defecto */
    position: fixed; /* Se queda fijo en la pantalla */
    bottom: 20px; /* Separación del borde inferior */
    right: 20px; /* Separación del borde derecho */
    z-index: 99; /* Por encima de todo */
    border: none;
    outline: none;
    background-color: var(--rojoFresa); /* Usamos tu variable de color rojo */
    color: var(--negro);
    cursor: pointer;
    padding: 15px;
    border-radius: 50%; /* Lo hace circular */
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: background-color 0.3s, opacity 0.3s;
    width: 50px;
    height: 50px;
    touch-action: manipulation; /* Optimiza el clic eliminando el retraso de 300ms */
    user-select: none; /* Evita que se seleccione el botón si dejas el dedo puesto */
    -webkit-tap-highlight-color: transparent; /* Quita el recuadro feo que sale al tocarlo */
}

.btn-subir:hover {
    background-color: var(--negroMatte); /* Cambia de color al pasar el mouse */
}

.btn-subir img {
    width: 100%; /* Ajusta tu icono al tamaño del botón */
}

/* Clase que agregaremos con JS para mostrarlo */
.mostrar-btn {
    display: block !important;
}


/* --- FOOTER --- */
.footer{
    background-color: var(--negro);
    padding: 3rem 0;
    margin-top: 4rem;
}

.footer__texto{
    text-align: center;
    font-size: 2.2rem;
}